<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.ToString("yy/M/dd") - MyTask.BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <custom-email></custom-email>
    </div>
</footer>